.inputField{
    text-align: center;
    padding: 5px;
    margin: 5px;
    color: blue;
}
.image{
    width: 20%;
    display: block;

    margin-left: auto;
    margin-right: auto;
}
.headings{
    text-align: center;
}
.text{
    text-align: center;  
}
#selection1{
    text-align: center;
    display:inline-block;
    margin-left: 35%;
    margin-right: auto;
    margin-bottom: 30px;
}

#selection2{
    text-align: center;
    display:inline-block;
    margin-left: auto;
    margin-right: 20%;
    margin-bottom: 30px;
}

#compare{
    text-align: center;
}