*
{
	margin: 0;
	padding: 0;
}

body
{
	width: 100%;
	height: 100%;
}

.navigation
{
	background-color: rgba(0,0,0,0.5);
	color: white;
	margin-bottom: 5%;
}

.socialmedia
{
	margin-left: 40px;
}
/*
.display-4
{
	font-size: 200%;
	font-weight: lighter;
	color: white;
	margin-left: 10%;
}
*/

.heading-container
{
	color: white;
	margin-left: 5%;
	margin-top: 15%;
}

.titleHead
{
	font-size: 200%;
	font-weight: lighter;
	color: white;
	text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00, -5px 9px 2px rgba(206,31,181,0.33);
	/*text-shadow: -5px 4px 4px rgba(206,25,186,0.86); */
}

.lead
{
	color: white;
}

.container-fluid
{
	width: 100%;
	height: 100%;
}

.navbar-wrapper
{
	width: 100%;
	height: 100%;
}

a.navbar-brand
{
	padding-right:5px;
}

.content-wrapper
{
	width: 100%;
	height: 100%;
	padding-left:2%;
	padding-right:2%;
}

#homeSection
{
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), url("../images/background/bg1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 7%;
	height: 90vh;
	width: 100%;
}

#aboutSection
{
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), url("../images/background/bg2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	height: 100%;
	width: 100%;
}

.heading
{
	color: white;
}

#roomsSection
{
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), url("../images/background/bg3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	height: 100%;
	width: 100%;
}

#bookingSection
{
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), url("../images/background/bg4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	height: 80%;
	width: 100%;
}

#contactSection
{
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), url("../images/background/bg5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-color: white;
	border-radius: 10px;
	height: 50%;
	width: 100%;
}

#footer
{
	background-color: yellow;
	height: 30%;
	width: 100%;
}

.homeButtons
{
	display: inline;
	margin-top: 5%;
}

.aboutRow
{
	
	border: thin solid;
	border-color: white;
	border-radius: 10px;
	width: 100%;

}

.column1
{
	padding: 0;
	border-radius: 10px;
	background: rgba(0,0,0,0.5);
}

.column2
{
	padding: 0;
	border-radius: 10px;
}

input
{
	display: block;
	margin: 5px;
	padding: 10px;
	background: rgba(0,0,0,0.1);
	border-radius: 5px;
	font-weight: lighter;
	color: white;
	box-shadow: 5%;
}

textarea
{
	margin: 5px;
	margin-right: 5px;
	padding: 10px;
	background: rgba(0,0,0,0.1);
	border-left: 0;
	border-right: 0;
	border-radius: 5px;
	font-weight: lighter;
	color: white;
	width: 100%;
}

button:hover
{

}
button
{
	background: rgba(0,0,0,0.5);
	border-color: white;
	border-radius: 5px;
	margin-top: 15px;
	color: white;
	width: 150px;
}

select
{
	background: rgba(0,0,0,0.5);
	border-outline: none;
	padding-left: 30px;
	border-radius: 5px;
	font-weight: lighter;
	color: white;
}

.innerform
{
	background-color: rgba(0,0,0,0.5);
	border: thin solid;
	padding-top: 20px;
	padding-bottom: 20px;
	border-color: white;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.googlemaps
{
	background-color: rgba(0,0,0,0.5);
	border: thin solid;
	border-color: white;
	padding-left: 5px;
	padding-right: 5px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

}

.userdetails
{
	background-color: rgba(0,0,0,0.4);
	border: thin solid;
	border-radius: 10px;
	color: white;
	padding: 10px;
}

iframe
{
	width: 100%;
	height: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.jumbotron-fluid
{
	width: 100%;
	height: 100%;
}

.aboutContainer
{
	margin-right: 1%;
	margin-left: 1%;
	padding-right: 0;
	padding-left: 0;
}

.aboutTransparent
{
	background-color: rgba(0,0,0,0.3);

}

.title
{
	background: rgba(0,0,0,0.5);
	color: white;
	border-radius: 5px;
	width: 320px;
}

.gridsystem
{
	height: 100%;
	width: 100%;
	padding: 5%;
}

/* Top scroller css*/
#back2Top 
{
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}

#back2Top:hover {
    background-color: #DDF;
    color: #000;
}



